body {
    background: cornflowerblue;
    color: pink;
}

.heading {
    width: 80%;
    font-size: 22px;
}

#camera {
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}

#result_color_name, #result_color_accuracy, .name_of_color {
    color: greenyellow;
}